* {
    box-sizing: border-box;
}

body {
    font-family: helvetica;
    margin: 0;
}

.header {
    padding: 6vw;
    text-align: right;
    color: #ddc18d;
    background-image: url("../images/coffee5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: headerFont;
    font-size: 2vw;
    font-weight: bold;
    text-shadow: 5px 2px #000000;
}

@font-face {
    font-family: headerFont;
    src: url(fonts/Coffeebreak.ttf);
}

.navbar {
    display: flex;
    background-color: #4c4c4c;
    z-index: 9999;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .row {
    padding-top: 102px;
}

.navbar a {
    color: #fffefe;
    padding: 2vh 1vw;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #d1c9b8;
}

.active {
    background-color: #ab9975;
}

.row {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/coffee6.jpg");
    background-size: cover;
}

.side {
    flex: 30%;
    padding: 20px;
    border-style: solid;
    text-align: center;

}

.main {
    flex: 70%;
    padding: 20px;
    border-style: solid;
}

.textbox {
    padding: 20px;
    text-align: center;
    background: #474747;
    color: #e4e4e4;
    font-size: 35px;
    border-radius: 4px;
    box-shadow: #000000 10px 10px 5px;
    font-family: georgia;
    opacity: 0.7;
}

.footer {
    padding: 5px;
    text-align: center;
    background-color: #686868;
    color: rgb(161, 161, 161);
}

@media screen and (max-width: 700px) {

    .row,
    .navbar {
        flex-direction: column;
    }
}

.mySlides {
    display: none;
    max-height: 100vh;
    min-height: 50vh;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    max-width: 100%;
}

.orderbutton {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: large;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    border: 2px solid #ffffff;
    background-color: #ffffff;
    opacity: .8;
    font-weight: bold;
}

.orderbutton:hover {
    background-color: #757575;
}