* {
    box-sizing: border-box;
}

body {
    font-family: helvetica;
    margin: 0;
    background-color: #201e21;
}

.navbar {
    display: block;
    background-color: #4c4c4c;
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    color: #fffefe;
    padding: 2vh 1vw;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    float: left;
}

.navbar a:hover {
    background-color: #d1c9b8;
}

.active {
    background-color: #ab9975;
}

.footer {
    padding: 3px;
    text-align: center;
    background-color: #4c4c4c;
    color: rgb(161, 161, 161);
    margin-top: 5px;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.container {
    background-image: url("../images/coffee6.jpg");
    background-size: cover;
    padding: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    min-height: 400px;
}

.inputfields {
    padding: 10px;
    background: #ffffff;
    color: #000000;
    border-radius: 10px;
    max-width: 658px;
    font-size: large;
    text-align: left;
    margin: auto;
    font-weight: bold;
    box-shadow: #000000 10px 10px 5px;
    opacity: .7;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    font-size: large;
    color: #201e21;
}

.pad {
    padding: 5px;
    width: 50%;
}

button[type=button] {
    background-color: #020202;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=button]:hover {
    background-color: #a3a2a2;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 15px;
}

.card button:hover {
    opacity: 0.7;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 1px 10px;
    background-color: #4c4c4c;
    color: white;
}

.modal-body {
    padding: 5px 10px;
    font-size: larger;
}

.modal-footer {
    padding: 2px 10px;
    background-color: #4c4c4c;
    color: white;
    text-align: center;
}

.clearbtn {
    border: none;
    outline: 0;
    padding: 13px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 15%;
    font-size: 15px;
}

.clearbtn:hover {
    opacity: 0.7;
}