* {
    box-sizing: border-box;
}

body {
    font-family: helvetica;
    margin: 0;
}

.header {
    padding: 6vw;
    text-align: right;
    color: #ddc18d;
    background-image: url("../images/coffee5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: headerFont;
    font-size: 2vw;
    font-weight: bold;
    text-shadow: 5px 2px #000000;
}

@font-face {
    font-family: headerFont;
    src: url(fonts/Coffeebreak.ttf);
}

.navbar {
    display: flex;
    background-color: #4c4c4c;
    z-index: 9999;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.row {
    padding-top: 102px;
}

.navbar a {
    color: #fffefe;
    padding: 2vh 1vw;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #d1c9b8;
}

.active {
    background-color: #ab9975;
}

.row {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/coffee6.jpg");
    background-size: cover;
}

.side {
    flex: 50%;
    padding: 20px;
    text-align: center;

}

.main {
    flex: 50%;
    padding: 20px;
}

.concern {
    padding: 5px;
    text-align: center;
    background: #474747;
    color: #ebebeb;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: #000000 10px 10px 5px;
    opacity: 0.8;
}

.inputfields {
    padding: 20px;
    background: #474747;
    color: #d4d4d4;
    border-radius: 10px;
    opacity: 0.8;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: larger;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bolder;
    font-size: larger;
}

button[type=button] {
    background-color: #020202;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: larger;
}

button[type=button]:hover {
    background-color: #a3a2a2;
}

.btn {
    text-align: center;
}

.footer {
    padding: 10px;
    text-align: center;
    background-color: #4c4c4c;
    color: rgb(161, 161, 161);
}
/* modal */

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 1px 10px;
    background-color: #4c4c4c;
    color: white;
}

.modal-body {
    padding: 20px 10px;
    font-size: x-large;
}

.modal-footer {
    padding: 2px 10px;
    background-color: #4c4c4c;
    color: white;
}